.container {
  width: 600px;
  height: 100px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.layout {
  justify-content: center;
  align-items: center;
}

